# Eclipse
.project
.classpath
.metadata
.settings
org.*
bin
build
eclipse



# Windows image file caches
Thumbs.db
*.lnk

#forge directories
forge*
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt

#gradle
.gradle
gradle
gradlew
gradlew.bat
build.gradle